@keyframes iconChange {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes gifAnimation{
    from{
        background-image: url("../Svg/steptodown.com362293-removebg-preview.svg");
    }
    to{
        background-image: url("../Svg/steptodown.com362293-removebg-preview\ \(1\).svg");
    }
}
@keyframes moveUp {
    to {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
@keyframes liveDot {
  0% {}
  20%{background-color: rgb(128, 0, 128, 0.3);}
  40%{background-color: rgb(128, 0, 128, 0.5);}
  60%{background-color: rgb(128, 0, 128, 0.7);}
  100%{ background-color: rgb(128, 0, 128, 0.9);}
  
}
@keyframes liveDotBig {
  0% {opacity: 1px;background-color: rgb(128, 0, 128, 0.9);}
  30%{opacity: 1px;background-color: rgb(128, 0, 128, 0.7);}
  60%{opacity: 1px;background-color: rgb(128, 0, 128, 0.5);}
  90%{ opacity: 1px;background-color: rgb(128, 0, 128, 0.3);}
  100%{background-color: #ad3ffb;}
}
@keyframes typing {
  from { width: 0; }
  to { width: 12ch; } /* Adjust ch units based on your text length */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 15px 5px rgb(138, 43, 226, 0.3);
  }
  30% {
    box-shadow: 0 0 15px 5px rgb(138, 43, 226, 0.4);
  }
  50% {
    box-shadow: 0 0 15px 5px rgb(138, 43, 226, 0.5);
  }
  70% {
    box-shadow: 0 0 15px 5px rgb(138, 43, 226, 0.6);
  }
  100% {
    box-shadow: 0 0 15px 5px rgb(138, 43, 226, 0.3);
  }
  
}