*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #333;
}
.logo
{
    padding-left: 40px;
}
.navber-main
{
    position: relative;
    border-radius: 30px;
    background-color: blueviolet;
    border: 1.9px solid black;
    
}
.navber-main i{
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
.navber-main .forword-slash
{
    font-size: 25px;
    font-weight: bold;
    color: #333;
}
.navber-main span
{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.idea-blub{
    position: absolute;
    width: 50px;
    height: 70px;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    animation: gifAnimation 0.5s infinite;
    transition: 1s;
    display: inline-block;
    left: 5px;
}
@keyframes gifAnimation{
    from{
        background-image: url("../steptodown.com362293-removebg-preview.svg");
    }
    to{
        background-image: url("../steptodown.com362293-removebg-preview\ \(1\).svg");
    }
}
.navbar-links
{
    padding-left: 40%;
}
.navbar-links ul
{
    font-size: 20px;
}
.navbar-button
{
    margin-right: 20px;
    border: none;
    padding: 0%;
}
.header-container
{
    background-color: aqua;
    height: 500px;
}
.header-container .sticker{
    background-color: black;
    padding: 5px 10px;
    height: 30px;
    color: aliceblue;
    display: inline;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 13px;
}
.my-picture{
    background-image: url("../Pictures/WhatsApp\ Image\ 2025-04-14\ at\ 22.54.51_ec4b8aefg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 70px;
    bottom: 70px;
    margin-left: 10% ;
}
.straight-line
{
    height: 240px;
    width: 2px;
    background-color: yellowgreen;
    margin: 20px;
    z-index: 20;
}
.main-header
{
    height: 400px;
}